<div class="image-wrapper">
  <%= link_to image_tag("#{bookmark.image_url}", size: "100x100"), bookmark.url, title: bookmark.url  %>

  <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>

  <%= link_to edit_topic_bookmark_path(topic, bookmark), title: "Edit Bookmark" do %>
    <i class="glyphicon glyphicon-edit"></i>
  <% end %>

  <%= link_to topic_bookmark_path(topic, bookmark), method: :delete, title: "Delete Bookmark"  do %>
    <i class="glyphicon glyphicon-trash"> </i>
  <% end %>
</div>
