<!-- <p id="notice"><%# notice %></p> -->

<!-- REVIEW ambiguous directions - show all bookmarks for all users, or just ones you own? -->
<h2 class="page-heading">Your Bookmarks</h2>

<% @topics.each do |topic|%>
  <div class="topic-row">
    <div class="topic_tag"> <%= link_to "\##{topic.title}", topic_path(topic) %> </div>

    <div class="bookmark-item">
      <%= render partial: 'bookmark', locals: {topic: topic} %>
    </div>
  </div>
<% end %>

<!-- TODO add  bookmark buttons for each topic -->
<!-- NOTE move this button somewhere better? -->
<div id="new_bookmark_button">
  <%= link_to 'New Bookmark', new_bookmark_path, class: "btn btn-success" %>
</div>
