<h2 class="header-centered">Bookmarks for #<%= @topic.title %> </h2>

<div class="bookmark-item">
  <%= render partial: 'bookmarks/bookmarks', locals: {topic: @topic} %>
</div>

<%= link_to 'New Bookmark', new_topic_bookmark_path(@topic), class: "pull-right btn btn-success" %>
