<!-- REVIEW redundant with flash notice? -->
<!-- <p id="notice"><%# notice %></p> -->

<h2 class="page-heading">Bookmarks for '<%= @topic.title %>' </h2>
<!-- TODO once user controller created, fix this -->
<!-- TODO replace this with link to user profile -->
<!-- <div> owner: <%# @topic.user.email %> -->

</div>

<%= render partial: 'bookmarks/bookmark', locals: {topic: @topic} %>

<!-- <%# link_to 'Edit', edit_topic_path(@topic) %> | -->
<!-- <%# link_to 'Back', topics_path %> -->
