<div>
<% if current_user.present? %>
  <% if like = current_user.liked(bookmark) %>
    <%= link_to bookmark_like_path(bookmark, like), class: 'btn btn-danger', title: "Like", method: :delete do %>
      <i class="glyphicon glyphicon-star-empty"> </i>
    <% end %>
  <% else %>
    <%= link_to bookmark_likes_path(bookmark), class: 'btn btn-primary',  title: "Unlike", method: :post do %>
      <i class="glyphicon glyphicon-star"> </i>
    <% end %>
  <% end %>
<% end %>
</div>
