<h2 class="header-centered">Profile for <%= @user.email %></h2>


<%= render 'topics/topics' %>

<h2 class="header-centered">Liked Bookmarks</h2>

<% @user.likes.each do |like| %>
  <%= render partial: 'bookmarks/bookmark', locals: {bookmark: like.bookmark, topic: like.bookmark.topic} %>
<% end %>
