<% if current_user.present? %>
  <h2 class="header-centered">Your Bookmarks</h2>
<% else %>
  <h2 class="header-centered">Some Cool Bookmarks</h2>
<% end %>

<div id="new_item_button_wrapper">
  <%= link_to 'New Topic', new_topic_path, class: "btn btn-info" %>
</div>

<%= render 'topics/topics' %>
