<!-- <p id="notice"><%# notice %></p> -->

<!-- REVIEW ambiguous directions - show all bookmarks for all users, or just ones you own? -->
<h2 class="page-heading">Your Bookmarks</h2>

<%= render 'topics' %>

<!-- TODO add  bookmark buttons for each topic -->
<!-- NOTE move this button somewhere better? -->
<div id="new_item_button_wrapper">
  <%= link_to 'New Topic', new_topic_path, class: "btn btn-info" %>
</div>
