#new_item_button_wrapper{
  margin-top: 20px;
}

.topic_tag{
  font-size: 1.2em;
  margin-bottom: 10px;
}

.caption{
  display: block;
  text-align: center;
  margin-top: 10px;
}

.image-wrapper{
  display: inline-block;
  text-align: center;
}
