// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO move this to a better spot
.new-bookmark-btn{
  position: relative;
  display: inline-block;

  margin-top: 40px;
  bottom: 75px;
  margin-left: 30px;
}


.topic-buttons{
  width: 100px;
}
